/*=======================================
    GENERAL STYLES
==================================================*/

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.expose {
    opacity: 0.5;
    z-index: -1000;
}
.apply-btn {
    width: 100%;
    margin-top: 20px;
}

.error {
    font-size: 20px;
}

span {
    font-size: 20px;
}

label {
    font-size: 17px;
}
.start-value {
    margin-top: 40px;
}

/*=======================================
    WALLET STYLES
==================================================*/
.currency span {
    display: block;
    font-size: 20px;
}
.pln {
    text-align: right;
}

.currencyType {
    font-size: 20px;
    padding: 10px;
}
.otherCurrency {
    padding-bottom: 75px;
    border: 1px solid #0f0f0f;
    height: 127px;
    margin-top: 20px;
}
.otherCurrency button {
    width: 100%;
    margin-left: 8px;
}
.resetButton {
    width: 100%;
    margin-top:20px;
}
.wallet-status {
    margin-bottom: 4px;
}
/*=======================================
    TRANSACTION STYLES
==================================================*/
.currency-state button {
    width: 100%;
}

input {
    width: 130px !important;
}

.currency h3 {
    margin-bottom: 40px;
}

.transaction-box {
    margin-left: 20px;
}

.transaction-box h3 {
    text-align: center;
    padding-bottom: 30px;
}
.transaction-box button {
    width: 100%;
    margin-top: 20px;
}
p {
    font-size: 18px;
}
.predictedAmount {
    margin-top: 55px;
}
.action-buttons {
    margin-top: 20px;
}
