/*=======================================
    GENERAL STYLES
==================================================*/

h1 {
    text-align: center;
    margin-bottom: 40px;
}
.row {
    margin-top: 30px;
}
.apply-btn {
    width: 100%;
    margin-top: 20px;
}





/*=======================================
    WALLET STYLES
==================================================*/
.currency span {
    display: block;
    font-size: 20px;
}
.pln {
    text-align: right;
}

.currencyType {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
}
.otherCurrency {
    padding-bottom: 75px;
    border: 1px solid #0f0f0f;
    height: 100px;
    margin-top: 20px;
}
.otherCurrency button {
    width: 100%;
}
.resetButton {
    width: 100%;
    margin-top:20px;
}

/*=======================================
    TRANSACTION STYLES
==================================================*/
.currency-state button {
    width: 100%;
}

input {
    width: 130px !important;
}

.currency h3 {
    margin-bottom: 40px;
}

.transaction-box {
    margin-left: 20px;
}

.transaction-box h4 {
    text-align: center;
    padding-bottom: 30px;
}



