<div class="row well transaction-box">
    <h4>Wymiana EUR na PLN</h4>
    <p>Dostepne srodki: {{$storage.wallet.EUR | number:2}} EUR</p>
    <p>Kurs sprzedazy: {{getEur.rates[0].bid}} zl</p>
    <div class="transaction row" ng-form name="buyToEur">
        <label for="eurToPln" class="col-xs-4 col-form-label">Kwota wymiany</label>
        <div class="col-xs-3 col-md-offset-3">
            <input class="form-control" type="number" id="eurToPln" ng-max="{{$storage.wallet.EUR}}" ng-model="moneyEur.value" name="buyEurValue">
            <span class="error" ng-show="buyToEur.buyEurValue.$error.max">Too much!</span>
        </div>
    </div>
    <button class="btn btn-primary apply-btn" ng-click="applyBuyEur(moneyEur.value); walletEur = !walletEur; " ng-disabled="buyToEur.buyEurValue.$error.max">Zatwierdź</button>
</div>
