<!DOCTYPE html>
<html lang="en" ng-app="treningCinkciarza">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Trener Cinkciarza</title>

    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <!-- CUSTOM STYLE CSS -->
    <link href="css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Trener Cinkciarza</h1>
</div>

<div class="container" ng-controller="MainController">

    <div class="col-md-6" data-ng-class="{ 'expose' : addOpacity }">

        <!-- ENTER MONEY SECTION -->
        <div class="form-group row start-value" name="divStartingValue" ng-form>
            <label for="start-number-input" class="col-xs-4 col-form-label">Kwota startowa</label>
            <div class="col-xs-3 col-md-offset-3">
                <input class="form-control" type="number" id="start-number-input" ng-model="moneyStart" name="inputStartingValue" min="0.1" required>
                <span class="error" ng-show="divStartingValue.inputStartingValue.$error.min" >Not enough!</span>
            </div>
            <p class="pln">PLN</p>
            <div class="col-md-4 col-md-offset-4" >
                <button class="btn btn-info apply-btn" ng-click="apply()"
                        ng-disabled="divStartingValue.inputStartingValue.$error.min; divStartingValue.$invalid">Zatwierdź
                </button>
            </div>
        </div>
        <!-- END ENTER MONEY SECTION -->

        <!-- WALLET SECTION -->
        <div class="form-group row well currency">
            <h3>Stan portfela</h3>
            <span>
                PLN:
                {{wallet.PLN | number:2}}zl
            </span><br>

            <div class="otherCurrency">
                <div class="col-md-12 currencyType">
                    USD:
                    {{wallet.USD | number:2}}$
                </div>
                <div class="col-md-3 col-md-offset-3">
                    <!-- WSTAW KURSY NAD PRZYCISKAMI -->
                    <button class='btn btn-success' ng-click="sellUsd()" ng-disabled="wallet.PLN == 0">Kup</button>
                </div>
                <div class="col-md-3 ">
                    <button class="btn btn-primary" ng-click="buyUsd()" ng-disabled="wallet.USD == 0">Sprzedaj</button>
                </div>
            </div>

            <div class="otherCurrency">
                <div class="col-md-12 currencyType">
                    EUR:
                    {{wallet.EUR | number:2}}€
                </div>
                <div class="col-md-3 col-md-offset-3">
                    <button class='btn btn-success' ng-click="sellEur()" ng-disabled="wallet.PLN == 0">Kup</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" ng-click="buyEur()" ng-disabled="wallet.EUR == 0">Sprzedaj</button>
                </div>
            </div>

            <div class="otherCurrency">
                <div class="col-md-12 currencyType">
                    GBP:
                    {{wallet.GBP| number:2}}£
                </div>
                <div class="col-md-3 col-md-offset-3">
                    <button class='btn btn-success' ng-click="sellGbp()" ng-disabled="wallet.PLN == 0">Kup</button>
                </div>
                <div class="col-md-3 ">
                    <button class="btn btn-primary" ng-click="buyGbp()" ng-disabled="wallet.GBP == 0">Sprzedaj</button>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-danger resetButton" ng-click="reset()">Reset</button>
            </div>

        </div>
        <!-- END WALLET SECTION -->
    </div>

    <!-- CURRENCY EXCHANGE SECTION -->
    <div class="col-md-6">

        <exchange-box ng-show="currencyBox"></exchange-box>

    </div>
    <!-- END CURRENCY EXCHANGE SECTION -->

</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="javascript/app.js"></script>
<script src="javascript/controllers/main.js"></script>
<script src="javascript/services/main.js"></script>
<script src="javascript/directives/exchange-box.js"></script>
</body>
</html>
