<div class="row well transaction-box">
    <h4>Wymiana PLN na EUR</h4>
    <p>Dostepne srodki: {{$storage.wallet.PLN | number:2}} PLN</p>
    <p>Kurs sprzedazy: {{getEur.rates[0].ask}} zl</p>
    <div class="transaction row" ng-form name="sellToEur">
        <label for="plnToEur" class="col-xs-4 col-form-label">Kwota wymiany</label>
        <div class="col-xs-3 col-md-offset-3">
            <input class="form-control" type="number" id="plnToEur" ng-max="{{$storage.wallet.PLN}}" ng-model="moneyEur.value" name="sellEurValue">
            <span class="error" ng-show="sellToEur.sellEurValue.$error.max">Too much!</span>
        </div>
    </div>
    <button class="btn btn-primary apply-btn" ng-click="applySellEur(moneyEur.value); walletEur = !walletEur; " ng-disabled="sellToEur.sellEurValue.$error.max">Zatwierdź</button>
</div>
