<div class="row well transaction-box">
    <h4>Wymiana USD na PLN</h4>
    <p>Dostepne srodki: {{$storage.wallet.USD | number:2}} USD</p>
    <p>Kurs kupna: {{getUsd.rates[0].bid}} zl</p>
    <div class="transaction row" ng-form name="buyToUsd">
        <label for="usdToPln" class="col-xs-4 col-form-label">Kwota wymiany</label>
        <div class="col-xs-3 col-md-offset-3">
            <input class="form-control" type="number" id="usdToPln" ng-max="{{$storage.wallet.USD}}" ng-model="moneyUsd.value" name="buyUsdValue">
            <span class="error" ng-show="buyToUsd.buyUsdValue.$error.max">Too much!</span>
        </div>
    </div>
    <button class="btn btn-primary apply-btn" ng-click="applyBuyUsd(moneyUsd.value); walletUsd = !walletUsd; " ng-disabled="buyToUsd.sellUsdValue.$error.max">Zatwierdź</button>
</div>
