<div>
    <h2 class="color-white">Wymiana walut</h2>
    <div class="row well transaction-box color-black color-white border-none">
        <h3>{{exchangeCtrl.message}}</h3>
        <p>Dostepne srodki: {{exchangeCtrl.action === 'buy' ? exchangeCtrl.wallet.PLN : exchangeCtrl.wallet[exchangeCtrl.currencyId] | number:2}} {{ exchangeCtrl.currencyType}}</p>
        <p>Kurs: {{exchangeCtrl.action === 'buy' ? exchangeCtrl[exchangeCtrl.currencyId].rates[0].ask : exchangeCtrl[exchangeCtrl.currencyId].rates[0].bid}} zł</p>
        <div class="transaction row" ng-form name="exchangeCtrl.actionToCurrency">
            <label for="plnToUsd" class="col-xs-4 col-form-label">Kwota wymiany</label>
            <div class="col-xs-4 col-xs-offset-3">
                <input class="form-control" type="number" id="plnToUsd"
                       max="{{exchangeCtrl.action === 'buy' ? exchangeCtrl.wallet.PLN : exchangeCtrl.wallet[exchangeCtrl.currencyId]}}" min="0.1" ng-model="exchangeCtrl.money"
                       name="currencyValue" required>
                <span class="error" ng-show="exchangeCtrl.actionToCurrency.currencyValue.$error.max">Too much!</span>
                <span class="error" ng-show="exchangeCtrl.actionToCurrency.currencyValue.$error.min">Not enough!</span>
            </div>
            <div class="predicted-amount">
                <label for="predicted-value" class="col-xs-4 col-form-label">Otrzymasz:</label>
                <div class="col-xs-4 col-xs-offset-3" ng-hide="exchangeCtrl.money == 0 || exchangeCtrl.money.value < 0">
                    <span ng-hide="exchangeCtrl.money == null" id="predicted-value">
                        {{ exchangeCtrl.action === 'buy' ? (exchangeCtrl.money / exchangeCtrl[exchangeCtrl.currencyId].rates[0].ask | number:2) : (exchangeCtrl.money * exchangeCtrl[exchangeCtrl.currencyId].rates[0].bid| number:2)}}
                        {{exchangeCtrl.currencyReceive}}</span>
                </div>
            </div>
        </div>
        <div class="action-buttons">
            <div class="col-xs-4 col-xs-offset-2">
                <a href="#/">
                    <button id="accept-value" class="btn btn-primary apply-btn color-orange border-none" ng-click="exchangeCtrl.applyCurrency(money)"
                            ng-disabled="exchangeCtrl.actionToCurrency.currencyValue.$error.max || exchangeCtrl.actionToCurrency.currencyValue.$error.min; exchangeCtrl.actionToCurrency.$invalid">
                        Zatwierdź
                    </button>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#/">
                    <button id="cancel-btn" class="btn btn-default color-orange color-white border-none">Anuluj</button>
                </a>
            </div>
        </div>
    </div>
</div>
