<div>
    <!-- ENTER MONEY SECTION -->
    <div class="row well color-black border-none">
        <div class="form-group row start-value" name="divStartingValue" ng-form>
            <label for="start-number-input" class="col-xs-4 col-form-label color-white">Wprowadź środki:</label>
            <div class="col-xs-3 col-md-offset-3">
                <input class="form-control" type="number" id="start-number-input" ng-model="mainCtrl.moneyStart" name="inputStartingValue" min="0.1" required>
                <span class="error" ng-show="divStartingValue.inputStartingValue.$error.min">Not enough!</span>
            </div>
            <p class="pln color-white">PLN</p>
            <div class="col-md-4 col-md-offset-4">
                <button id="apply-btn" class="btn btn-info apply-btn color-orange border-none" ng-click="mainCtrl.apply()"
                        ng-disabled="divStartingValue.inputStartingValue.$error.min; divStartingValue.$invalid">Zatwierdź
                </button>
                <a href="#/tableOfExchanges">
                    <button id="info-btn" class="btn-warning btn btn-table-exchanges color-orange border-none">Info</button>
                </a>
            </div>
        </div>
    </div>
    <!-- END ENTER MONEY SECTION -->

    <!-- WALLET SECTION -->
    <div class="form-group row currency" ng-switch="mainCtrl.currency">
        <div class="well color-black color-white border-none">
            <h3>Stan portfela</h3>
            <p id="wallet-PLN">PLN: {{mainCtrl.wallet.PLN | number:2}}zł</p>
            <div id="wallets" ng-repeat="item in mainCtrl.currencies">
                <p ng-hide="mainCtrl.wallet[item] == 0 || mainCtrl.wallet[item] == null">{{item}}: {{mainCtrl.wallet[item] |
                    number:2}}{{mainCtrl.currencyIcons[item]}}</p>
            </div>
        </div>
        <div class="well color-white color-black border-none">
            <h3>Wymiana walut</h3>
            <div class="form-grop row">
                <div class="col-md-4">
                    <label for="selection-currency">Wybierz walutę:</label>
                </div>
                <div class="col-md-4">
                    <select name="mainCtrl.currency" ng-model="mainCtrl.currency" id="selection-currency" ng-options="currency for currency in mainCtrl.currencies"
                            class="form-control"></select>
                </div>
            </div>
            <div class="other-currency" ng-show="mainCtrl.currency" id="currency-box">
                <div class="row currency-type color-white">
                    <div class="row wallet-status">
                        <div class="col-md-offset-1 col-md-4 col-xs-offset-1 col-xs-4 mobile-class">
                            {{mainCtrl.currency}}:
                            {{mainCtrl.wallet[mainCtrl.currency] | number:2}}{{mainCtrl.currencyIcons[mainCtrl.currency]}}
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-md-4 col-xs-4 col-xs-offset-3 exchange-value">{{mainCtrl[mainCtrl.currency].rates[0].ask}}zł</div>
                    <div class="col-md-4 col-xs-4 exchange-value">{{mainCtrl[mainCtrl.currency].rates[0].bid}}zł</div>
                </div>
                <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
                    <a href="#/exchangeBox/buy/{{mainCtrl.currency}}">
                        <button id="buyBtn" class='btn btn-success border-none color-orange' ng-disabled="0 == mainCtrl.wallet.PLN">
                            Kup
                        </button>
                    </a>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a href="#/exchangeBox/sell/{{mainCtrl.currency}}">
                        <button id="sellBtn" class="btn btn-primary color-orange border-none color-orange"
                                ng-disabled="0 == mainCtrl.wallet[mainCtrl.currency]">Sprzedaj
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-danger reset-button color-black" ng-click="mainCtrl.reset()">Reset</button>
            </div>
        </div>
    </div>
    <!-- END WALLET SECTION -->
</div>
