<div class="container" >

    <div class="col-md-6" data-ng-class="{ 'expose' : addOpacity }">

        <!-- ENTER MONEY SECTION -->
        <div class="form-group row start-value" name="divStartingValue" ng-form>
            <label for="start-number-input" class="col-xs-4 col-form-label">Wprowadź środki:</label>
            <div class="col-xs-3 col-md-offset-3">
                <input class="form-control" type="number" id="start-number-input" ng-model="mainCtrl.moneyStart" name="inputStartingValue" min="0.1" required>
                <span class="error" ng-show="divStartingValue.inputStartingValue.$error.min">Not enough!</span>
            </div>
            <p class="pln">PLN</p>
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-info apply-btn" ng-click="mainCtrl.apply()"
                        ng-disabled="divStartingValue.inputStartingValue.$error.min; divStartingValue.$invalid">Zatwierdź
                </button>
                <a  href="#/tableOfExchanges"><button class="btn-warning btn btn-table-exchanges">Info</button></a>
            </div>
        </div>
        <!-- END ENTER MONEY SECTION -->

        <!-- WALLET SECTION -->
        <div class="form-group row currency" ng-switch="mainCtrl.currency">
            <div class="well">
                <h3>Stan portfela</h3>

                <p>PLN: {{mainCtrl.wallet.PLN | number:2}}zł</p>

                <p ng-hide="mainCtrl.wallet.USD == 0">USD: {{mainCtrl.wallet.USD | number:2}}$</p>
                <p ng-hide="mainCtrl.wallet.EUR == 0">EUR: {{mainCtrl.wallet.EUR | number:2}}€</p>
                <p ng-hide="mainCtrl.wallet.GBP == 0">GBP: {{mainCtrl.wallet.GBP | number:2}}£</p>

            </div>
            <div class="well">
                <h3>Wymiana walut</h3>

                <div class="form-grop row">
                    <div class="col-md-4">
                        <label for="selection-currency">Wybierz walutę:</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="mainCtrl.currency" id="selection-currency" ng-options="currency for currency in mainCtrl.currencies"
                                class="form-control"></select>
                    </div>
                </div>

                <div class="other-currency" ng-switch-when="USD">
                    <div class="row currency-type">
                        <div class="row wallet-status">
                            <div class="col-md-offset-1 col-md-4 col-xs-offset-1 col-xs-4 mobile-class">
                                USD:
                                {{mainCtrl.wallet.USD | number:2}}$
                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-4 col-xs-4 col-xs-offset-3">{{mainCtrl.USD.rates[0].ask}}zł</div>
                        <div class="col-md-4 col-xs-4">{{mainCtrl.USD.rates[0].bid}}zł</div>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
                        <button class='btn btn-success' ng-click="mainCtrl.sellCurrency()" ng-disabled="0 == mainCtrl.wallet.PLN">Kup</button>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <button class="btn btn-primary" ng-click="mainCtrl.buyCurrency()" ng-disabled="0 == mainCtrl.wallet.USD">Sprzedaj</button>
                    </div>
                </div>

                <div class="other-currency" ng-switch-when="EUR">
                    <div class="row currency-type">
                        <div class="row wallet-status">
                            <div class="col-md-offset-1 col-md-4 col-xs-offset-1 col-xs-4 mobile-class">
                                EUR:
                                {{mainCtrl.wallet.EUR | number:2}}€
                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-4 col-xs-4 col-xs-offset-3">{{mainCtrl.EUR.rates[0].ask}}zł</div>
                        <div class="col-md-4 col-xs-4">{{mainCtrl.EUR.rates[0].bid}}zł</div>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
                        <button class='btn btn-success' ng-click="mainCtrl.sellCurrency()" ng-disabled="0 == mainCtrl.wallet.PLN">Kup</button>
                    </div>
                    <div class="col-md-4  col-xs-4">
                        <button class="btn btn-primary" ng-click="mainCtrl.buyCurrency()" ng-disabled="0 == mainCtrl.wallet.EUR">Sprzedaj</button>
                    </div>
                </div>

                <div class="other-currency" ng-switch-when="GBP">
                    <div class="row currency-type">
                        <div class="row wallet-status">
                            <div class="col-md-offset-1 col-md-4 col-xs-offset-1 col-xs-4 mobile-class">
                                GBP:
                                {{mainCtrl.wallet.GBP| number:2}}£
                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-4 col-xs-4 col-xs-offset-3">{{mainCtrl.GBP.rates[0].ask}}zł</div>
                        <div class="col-md-4 col-xs-4">{{mainCtrl.GBP.rates[0].bid}}zł</div>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
                        <button class='btn btn-success' ng-click="mainCtrl.sellCurrency()" ng-disabled="0 == mainCtrl.wallet.PLN">Kup</button>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <button class="btn btn-primary" ng-click="mainCtrl.buyCurrency()" ng-disabled="0 == mainCtrl.wallet.GBP">Sprzedaj</button>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-danger reset-button" ng-click="mainCtrl.reset()">Reset</button>
                </div>
            </div>
        </div>
        <!-- END WALLET SECTION -->
    </div>

    <!-- CURRENCY EXCHANGE SECTION -->
    <div class="col-md-6 col-xs-12">
        <div ng-show="mainCtrl.currencyBox" class="row well transaction-box">
            <h3>{{mainCtrl.message}}</h3>
            <p>Dostepne srodki: {{mainCtrl.wallet[type] | number:2}} {{ mainCtrl.currencyType}}</p>
            <p>Kurs: {{mainCtrl.exchangeRate}} zl</p>
            <div class="transaction row" ng-form name="actionToCurrency">
                <label for="plnToUsd" class="col-xs-4 col-form-label">Kwota wymiany</label>
                <div class="col-xs-4 col-xs-offset-3">
                    <input class="form-control" type="number" id="plnToUsd" max="{{mainCtrl.wallet[type]}}" min="0.1" ng-model="mainCtrl.money.value" name="currencyValue" required>
                    <span class="error" ng-show="mainCtrl.actionToCurrency.currencyValue.$error.max">Too much!</span>
                    <span class="error" ng-show="mainCtrl.actionToCurrency.currencyValue.$error.min">Not enough!</span>
                </div>
                <div class="predicted-amount">
                    <label for="predicted-value" class="col-xs-4 col-form-label">Otrzymasz:</label>
                    <div class="col-xs-4 col-xs-offset-3" ng-hide="mainCtrl.money.value == 0 || mainCtrl.money.value < 0">
                        <span ng-hide="mainCtrl.money.value == null" id="predicted-value">{{ mainCtrl.btnBuy ? (mainCtrl.money.value / mainCtrl.exchangeRate | number:2) : (mainCtrl.money.value * mainCtrl.exchangeRate | number:2)}}{{mainCtrl.currencyReceive}}</span>
                    </div>
                </div>
            </div>
            <div class="action-buttons">
                <div class="col-xs-4 col-xs-offset-2">
                    <button class="btn btn-primary apply-btn" ng-click="mainCtrl.applyCurrency(money.value); mainCtrl.toggleBox()"
                            ng-disabled="actionToCurrency.currencyValue.$error.max || actionToCurrency.currencyValue.$error.min; actionToCurrency.$invalid">Zatwierdź
                    </button>
                </div>
                <div class=" col-xs-4">
                    <button class="btn btn-default cancel-btn" ng-click="mainCtrl.toggleBox()">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END CURRENCY EXCHANGE SECTION -->
</div>
